body{
  backround-color:white;
  color:black;
}
body{
  backround-color:black;
  color:white;
}
header{
  border-bottom:2px solid gray;
  padding:20px;
}
nav {
  border-right:2px solid gray;
  width:200px;
  height:600px;
  float:left;
}
nav ol{
  list-style:none;
}
article {
  float:left;
  padding:20px;
}

#control{
  float:right;
}
